.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 967px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.menu-item {
    flex-basis: 30%;
    max-height: 250px;
    border: solid 2px black;
}

.menu-item img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}