Are you hungry? How about now?

<ul class="item-container">
    <li class="menu-item">
        <h4>Shrimp Rice</h4>
        <img src="/images/shrim_rice.jpg">
        <a href="/item/shrimp_rice">Details</a>
    </li>
    <li class="menu-item">
        <h4>Mushroom Patochini</h4>
        <img src="/images/Mushroom_Patochini.jpg">
        <a href="/item/Mushroom_Patochini">Details</a>
    </li>
    <li class="menu-item">
        <h4>Barry Pancakes</h4>
        <img src="/images/Barry_Pancakes.jpg">
        <a href="/item/Barry_Pancakes">Details</a>
    </li>
</ul>

{{outlet}}